{{define "content"}}
<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

  <div class="lg:col-span-1">
    <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-200 sticky top-24">
      <h2 class="text-lg font-bold text-gray-800 mb-6 pb-4 border-b border-gray-100">
        Novo Produto
      </h2>

      <form action="/admin/edit/product/" method="POST" class="space-y-4">
          <div>
              <label class="block text-xs font-bold text-gray-500 uppercase mb-1">Nome do Produto</label>
              <input value={{.Data.Name}} type="text" name="name" required class="w-full bg-white border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500 transition">
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
                <label class="block text-xs font-bold text-gray-500 uppercase mb-1">Preço (10,90)</label>
                <input value={{.Data.Price}} type="text" name="price" required placeholder="0,00" class="w-full bg-white border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500 transition">
            </div>
            <div>
                <label class="block text-xs font-bold text-gray-500 uppercase mb-1">Estoque</label>
                <input value={{.Data.Stock}} type="number" name="stock" required placeholder="0" class="w-full bg-white border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500 transition">
            </div>
          </div>
          <div>
              <label class="block text-xs font-bold text-gray-500 uppercase mb-1">URL da Imagem</label>
              <input value={{.Data.ImageURL}} type="text" name="image_url" required class="w-full bg-white border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500 transition">
          </div>
          <div>
              <label class="block text-xs font-bold text-gray-500 uppercase mb-1">Descrição</label>
              <textarea name="description" rows="3" class="w-full bg-white border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500 transition">{{.Data.Description}}</textarea>
          </div>
          <div style='display: none;'>
              <input name="id" type="text" value={{.Data.ID}}>
          </div>

          <button type="submit" class="w-full bg-gray-800 text-white font-bold py-2.5 rounded hover:bg-black transition shadow-sm">
            Salvar Produto
          </button>
      </form>
    </div>
  </div>
</div>
{{end}}
